{% extends "base.html" %}
{% block filtersection %}
{% endblock %}
      {% block mainsectioncontent %}
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width:100%">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric" >Category Name</th>
      <th >No of Question</th>
      <th>&nbsp;</th>
<th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
  {% for cat in category %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric" >{{ cat.name }}</td>
      <td >{{ cat.activecount }}</td>
      <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">edit</i>
</button></td><td>
</td>
    </tr>

  {% endfor %}

  {% for t in tag %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric" >{{ t.name }}</td>
      <td >{{ t.activecount }}</td>
      <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">edit</i>
</button></td><td>
</td>
    </tr>
  {% endfor %}
  {% comment %}
    <tr>
      <td class="mdl-data-table__cell--non-numeric" >Math</td>
      <td >50</td>
      <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">edit</i>
</button></td>
<td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">delete</i>
</button></td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric" >English</td>
      <td >10</td>
      <td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">edit</i>
</button></td>
<td><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
  <i class="material-icons">delete</i>
</button></td>
    </tr>
    {% endcomment %}
  </tbody>
</table>
     {% endblock %}
